body {
    font-size: 50px;
}

.locked-cell {
    font-weight: bold;
}

.unLocked-cell {
    color: #68BB59;
}

.error-cell {
    color: #d93551;
}

/*
.selected {
    background-color: #68BB59;
}
*/
.selected-row, .selected-column {
    background-color: #ebefc9;
}

table {
    border: 10px solid #1E5631;
    margin: 1em auto;
    /* width: 100%; */
    border-collapse: collapse;
    /* height: 100%; */
}

td {
    height: 80px;
    width: 80px;
    border: 1px solid #cedac6;
    text-align: center;
    color: #1E5631;
}

#mainGrid td:nth-child(3n) {
    border-right: 5px solid #1E5631;
}

tr:nth-child(3n) td {
    border-bottom: 5px solid #1E5631;
}

#nums-table td {
    border: 10px solid #1E5631;
}

.btn {
    background-color: #ACDF87;
    /* Green */
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 15px 15px;
    cursor: pointer;
    height: 80px;
}

.container {
    text-align: center;
}

#nums-table td {
    background-color: #ACDF87;
    border: 10px solid white;
    width: 75px;
    height: 75px;
    color: white;
    border-radius: 20px;
}
